body{
    background-color: #025464;
}

#navbar{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

#intro{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}


h1,h3{
    color: #E57C23;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
}

h2{
    color: #E8AA42;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 3.5rem;
}

p{
    color: #F8F1F1;
}

.tags,
.body-tags{
    color:#E8AA42;
    text-decoration: none;
}

.body-tags:hover{
    color: #E57C23;
    text-decoration: none;
}

.tags:hover{
    color: #E57C23;
    border-bottom: 1px solid;
}

.profile-img{
    height: 500px;
    border-radius: 5%;
}

.about{
    padding-bottom: 20px;
    box-shadow: 20px 20px 10px #116D6E;
}

.projects-btn{
    color: #E57C23;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.right-arrow-project{
    height: 30px;
    filter: invert(86%) sepia(36%) saturate(1312%) hue-rotate(326deg) brightness(96%) contrast(89%);
}

.project-img{
    display: flex;
    align-self: center;
}

.features-list{
    color:#F8F1F1;
}

.badge{
    background-color: #116D6E;
}

