body{
    background-color: #040014;
    position: relative;
    background-image: url("./assets/diagmonds.png");
}

#navbar{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

#intro{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.name{
    margin: 0;
}

h1,h3{
    color: #E57C23;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
}

h2{
    color: #E8AA42;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 3.5rem;
}

p{
    color: #F8F1F1;
}

.tags,
.body-tags{
    color:#E8AA42;
    text-decoration: none;
}

.body-tags:hover{
    color: #E57C23;
    text-decoration: none;
}

.tags:hover{
    color: #E57C23;
    border-bottom: 1px solid;
}

.profile-img{
    height: 450px;
    border-radius: 5%;
    margin: auto 0;;
}

.about{
    padding-bottom: 20px;
    margin: 0;
}

.projects-btn{
    color: #E57C23;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.right-arrow-project{
    height: 30px;
    filter: invert(86%) sepia(36%) saturate(1312%) hue-rotate(326deg) brightness(96%) contrast(89%);
}

.project-img{
    display: flex;
    align-self: center;
    border-radius: 10px;
    border: 1px #E8AA42 solid;
}

.github-img{
    height: 60px;
    margin-left: -0.7rem;
}

.features-list{
    color:#F8F1F1;
}

.badge{
    background-color: #FFCB74;
    color: #2f2f2f;
}




